---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
const pageTitle = "A propos";
---
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
</head>

<body>
    <Header />



    <h1>Citoyennes Amienoises Féministe</h1>

<p>
PRESENTATION

AMIENS
Pour une campagne municipale féministe !
Notre action est le fruit d’un travail mené par un collectif féministe non mixte, portant les revendications des femmes, racisées, immigrantes, gouines, trans, LBTQI+, en situation de handicap, précaires, mères isolées, ...
Notre initiative vise à faire entendre nos voix. Nous les femmes, victimes quotidiennement de violences sexistes, sexuelles, lesbophobes, hétérosexistes, transphobes, racistes, islamophobes, et de classes.
    
    
    Notre démarche vise à interpeller l’ensemble des partis qui se portent candidat aux municipales de mars prochain à Amiens.

    EN FRANCE

    CHIFFRES

    
    Quelques chiffres :
    
    
    - 1 femme est assassinée en moyenne tous les deux jours par son compagnon ou ex compagnon.
    
    
    - 94 000 femmes déclarent avoir été victimes de viol ou tentative de viol.

    
    - 1 femme violée toute les 7 min.
    

    
    - 45% des agressions sont commises par le conjoint ou l'ex-conjoint.

    
    - 91% des agressions faites aux femmes le sont par une personne connue.
    
    ?
    
    - 25% des femmes subissent des violences dans l'espace public.
    
    ?
    
    - 1 femme sur 5 est confrontée au harcèlement sexuel au cours de sa vie professionnelle.
    
    ?
    
    - 200 000 enfants sont victimes de violences sexuelles chaque année.
    
    ?
    
    - 94% des enfants victimes connaissent leur agresseur.</p>   
    <Footer />
  </body>
</html>