---

---

<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Collectif « Citoyennes Amiénoises Féministes »
			Pour une municipalité féministe !
			</h1>
		<p>                     #AmiensCestNous
			#--------------------------------------------------#
			?NOTRE CAMPAGNE
			#--------------------------------------------------#
			
			?
			
					  À l’approche des élections, les beaux discours politiques ne manquent jamais de réaffirmer l’égalité entre les femmes et les hommes comme axe prioritaire, comme une valeur fondamentale. Pourtant, la situation des discriminations, des inégalités, des injustices et des violences que subissent les femmes, ne s'améliore en aucun cas. Si des luttes ont été menées depuis les années 1970 en France, nombreux sont les chantiers qui restent encore à entreprendre. Si notre belle ville d'Amiens était juste, sociale et solidaire, qu’elle prenait en considération chacun.e des citoyen.nes, comme nous le lisons dans les programmes des municipales 2020, alors nous nous rendrions compte que les femmes représentent 52% de la population mondiale, soit la moitié de la population. Il paraît donc évident et urgent pour le collectif des citoyennes Amiénoises féministes, de prendre en compte les contextes vécus par les femmes dans leur quotidien, en vue de les améliorer. Pour cela, il convient de faire un réel effort d'écoute, de compréhension et d'analyse des obstacles et des embûches qu'elle vivent et donc mettre œuvre une politique adaptée et globale.
			
						  De ne voir aucun programme s'en saisir à la hauteur de la nécessité avec laquelle il conviendrait d'agir, nous avons décidé de revendiquer le plus fort possible, avec nos faibles moyens, la parole des femmes qui vivent à Amiens dans leur diversité. Même si cette responsabilité vient alourdir nos quotidiens parfois moroses, nous espérons faire naître une prise de conscience et des débats dans les sphères qui ont les moyens d'agir et réagir.
			
			
						  L'impact d'une économie d'austérité et de réduction des financements des services publics et des associations, constitué.es une barrière aux actions et dynamiques de luttes contre les discriminations faites aux plus démuni.es - constituée en grand nombre de femmes -, de même qu’aux dynamiques de sauvegarde et d'amélioration des droits de ces dernier.es. Cette économie capitaliste renforce un patriarcat historique et structurel à nos sociétés, qui sont depuis toujours essentiellement menées et dirigées par des hommes. Nous ne pouvons tolérer que malgré l’existence des mouvements de luttes militants et/ou intellectuels qui se font entendre ces dernières années, la lutte pour les droits de toutes les femmes et contre les violences qu'elles subissent reste secondaire aux principaux enjeux de société que nous traversons. Pourtant, ces inégalités perdurent et demeurent nombreuses ! Les discriminations systémiques dans le monde du travail persistent pour toutes, d'autant plus pour les femmes racisées, LBTQ+ ou encore en situation de handicap... De nombreuses barrières se dressent devant les femmes telles que l'absence d'égalité salariale, les multiples violences sexistes et sexuelles, la lesbophobie latente...
							 Nous avons rêvé d'une ville juste et bienveillante, dans la rue, dans nos maisons, dans nos entreprises, dans nos lieux de luttes. Nous avons rêvé d'un territoire où chacun et chacune puisse être libre de ses mouvements, d'évoluer dans son parcours professionnel, libre avec ses orientations sexuelles ou sa couleur de peau.
			
			
			Pour une municipalité féministe !
			
			 
			
							 Notre action est le fruit d’un travail mené par un collectif féministe non mixte composé de femmes LBTQ+, racisées, précaires, mères isolées. Et si nous avons à cœur d’inclure notamment les femmes en situation de handicap, immigrantes ou subissant l’islamophobie, ne vivant ni ne connaissant pas nous-même ces situations, nous ne nous permettrons pas de porter des revendications précises les
			
			concernant.
							Notre initiative vise à faire entendre nos voix. Nous les femmes, victimes quotidiennement de violences sexistes, sexuelles, lesbophobes, hétérosexistes, transphobes, racistes, islamophobes, et de classes.
			
			 
			
			
			Notre démarche vise à interpeller l’ensemble des partis qui se portent candidats aux municipales
			d'Amiens en 2020.
			
			
			?</p>
	</body>
</html>
