---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
const pageTitle = "Nos Revendications";
---

<html lang="fr">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header />

    <h1>Nos Revendications</h1>
    <ul>
        <li><a href="/posts/vss/">Violences sexistes et sexuelles</a></li>
        <li><a href="/posts/vie-politique/">Vie politique</a></li>
        <li><a href="/posts/culture/">Cultures et secptacle vivant</a></li>
        <li><a href="/posts/education/">Education et Famille</a></li>
        <li><a href="/posts/emploi/">Insertion et Emploi</a></li>
        <li><a href="/posts/espace-public/">Espace public et lieux festifs</a></li>
        <li><a href="/posts/sante/">Prévention et santé</a></li>
        <li><a href="/posts/communication/">Communication et Language</a></li>
        <li><a href="/posts/representativite/">Représentativité</a></li>
        <li><a href="/posts/migration/">Migration et demande d'asile</a></li>
        <li><a href="/posts/justice/">Justice</a></li>
    </ul>
    <Footer />
  </body>
</html>